@import './header.scss';
@import './home.scss';
@import './Button.scss';
@import './Detalhes.scss';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}


ul,li{
    list-style: none;
}
a{text-decoration: none;}


.animeLeft{
    transform: translateX(-20px);
    opacity: 0;
    animation:animeLeft .3s forwards;
}

@keyframes animeLeft{
    to{
        transform: initial;
        opacity: initial;
    }
}

.loading{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid  #ffba00;
    border-right-color: transparent;
    animation: loading 1s infinite;
}
@keyframes loading{
    to{
        transform: rotate(360deg);
    }
}



