$color:#176585;

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: $color;
}
h3{
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;

    span{
        color:#27b1bf;
        &:hover{
            color:#fff;
            transition: .5s;
        }
    }
}
.links{
    cursor: pointer;
   
   a{
    padding: 25px;
    font-weight: bold;
   }
   button:nth-child(4){
    background-color:#27b1bf;
    border-radius: 10px;
    padding: 10px;
    border: none;
    &:hover{
        background-color: #fff;
        transition: .5s;
    }
   }
   a:hover{
    color:#e2dfdf;
   }
   a{
    color: #fff;
   }
}
.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    color: #fff;
    opacity: 0;
    font-size: 1.8rem;
}
button{
    border: none;
    background-color: #176585;
    border-radius: 2px solid;
}

@media only screen and (max-width:768px) {
    .nav-btn{
        visibility:visible;
        opacity: 1;
    }
    .links{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgba(34, 34, 34, 0.274);
        transition: 1s;
        transform: translateY(-100vh);
    }
    .responsive{
        transform: none;
    }
    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    a{
        font-size: 1.6rem;
    }
}