
.section{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin-top: 2.0rem;
}

.img_page{
    img{
        width: 400px;
    }
}
.text_page{
    h2{
        font-family: Oswald,'sans-serif';
        color: #176585;
    }
    p{
        color:#176585;
        font-weight: bold;
        font-size: 1.5rem;
    }
    span{
        border-bottom: 1px solid #cccc;
    }
}
.details{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;

    svg{
        margin-right: 0.5rem;
    }
    ul,li{
        padding: 10px;
    }
}
.ilustrator img{
    width: 150px;
}

.section_Tel{
    padding: 20px;
}
@media only screen and (max-width:840px) {
    .section{
       display: block;
       justify-content: center;
    }
    .img_page img{
        width: 100%;
        display: flex;
      justify-content: center;
      align-items: center;
    }
    .text_page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       font-size: 1.0rem;
       h1{
        text-align: center;
       }
    }
    .details{
        display: block;
    }
    .details img{
        width: 100%;
    }
}